

#PresFolie {
  margin: 2.5%;
  width: 95%;
  height: 39.5em;
}

#FolienGrid{
  margin: .5%;
  height: 93%;
  width: 100%;
}
.Facecam {
  margin-left: 4%;
  margin: .5%;
  width: 65%;
  height: 25%;
}
.Chatroom {
  margin: .5%;
  height: 70%;
}



.PresentationView{
  margin-top: 1%;
  width: 100%;
  height: 50em;
}

.leftColumn {
  height: 100%;

  margin: .5%;
  width: 14%;
  float: left;
}

.midColumn {

 margin: .1%;
 margin-top: .5%;
 width: 59.8%;
 height: 100%;
 position: relative;
 float: left;

}

.rightColumn {
  height: 100%;
  margin: .5%;
  width: 24%;
  float: left;

}

.viewerFoil {
  margin: .1%;
  height: 100%;
  width: 65%;
  float: left;
}

.viewerChat {
  margin: .1%;
  height: 100%;
  width: 34.6%;
  float: left;
}